In [420]:
#Scrape MIT Technology Review 50 Smartest Companies

In [421]:
#0. Load necessary libraries and create runtime variables

import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import os
import time

timestr = time.strftime("%Y%m%d-%H%M%S")

In [422]:
#1. Make the soup

#define url
url = "https://www.technologyreview.com/lists/companies/2017/intro/"

#store html data
page = requests.get(url)

#make BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [423]:
#2. company ranks

rank_box_all = soup.findAll(class_= 'company__rank')
rank_array = np.array([])

for tag in rank_box_all:
    item = tag.text.strip()
    rank_array = np.append(rank_array, item)

In [424]:
#3. company names
title_box_all = soup.findAll(class_= 'company__title')
title_array = np.array([])

for tag in title_box_all:
    item = tag.text.strip()
    title_array = np.append(title_array, item)

In [425]:
#4. company details

list_item_box = soup.findAll("li", {"class": "company__stats__item"})

headquarters_array = np.array([])
industry_array = np.array([])
status_array = np.array([])
years_on_list_array = np.array([])
valuation_array = np.array([])

for tag in list_item_box:
    item = tag.text.strip()
    if "Headquarters" in item:
        item = item.replace("Headquarters\n\t\t\t\n\t\t\t", "")
        headquarters_array = np.append(headquarters_array, item)
    elif "Industry" in item:
        item = item.replace("Industry ", "")
        industry_array = np.append(industry_array, item)
    elif "Status" in item:
        item = item.replace("Status ", "")
        status_array = np.append(status_array, item)
    elif "Years on the List" in item:
        years_on_list_array = np.append(years_on_list_array, item)
    elif "Valuation" in item:
        item = item.replace("Valuation ", "")
        valuation_array = np.append(valuation_array, item)

In [426]:
#5. company summary

summary_box = soup.findAll("p", {"class": "company__body__item company__body__summary"})
summary_array = np.array([])

for tag in summary_box:
    item = tag.text.strip()
    item = item.replace("Summary ", "")
    summary_array = np.append(summary_array, item)

In [427]:
#6. combine arrays into single dataframe

mitsmartcompanies = pd.DataFrame({'Rank':rank_array, \
                             'Title':title_array, \
                             'Headquarters':headquarters_array, \
                             'Industry':industry_array, \
                             'Status': status_array, \
                             'Valuation': valuation_array, \
                             'TimeStamp': timestr, \
                             'Summary': summary_array \
                            })

In [428]:
#6. write file or append file

filepath = '/Users/kevin/Documents/pythonapps/mittech/datastore/'
filename = 'MIT_Smart_Companies_List.csv'

if os.path.exists(filepath + filename):
    with open(filepath + filename, 'a') as f:
        mitsmartcompanies.to_csv(f, header=False)
    f.close()
else:
    mitsmartcompanies.to_csv(filepath + filename, index_label = 'PandasRowIndex')

In [430]:
mitsmartcompanies.describe()

,Headquarters,Industry,Rank,Status,Summary,TimeStamp,Title,Valuation
count,50,50,50,50,50,50,50,50
unique,41,7,50,2,50,1,50,38
top,"Mountain View, California",Intelligent machines,15,Public,"In 2017, SpaceX proved it’s possible to fly a ...",20180409-085717,Veritas Genetics,N/A
freq,3,15,1,31,1,50,1,8